---
import ArticleCard from '../../components/ArticleCard.astro';
import Grid from '../../components/Grid.astro';
import Link from '../../components/Link.astro';
import MainWrapper from '../../components/MainWrapper.astro';
import PageTitle from '../../components/PageTitle.astro';
import Layout from '../../layouts/Layout.astro';
import {getArticles, getNoteTopics} from '../../utils/mdUtils';

const {slug} = Astro.params;
if (!slug) {
  throw new Error('No slug provided');
}

const {slugToTopic} = await getNoteTopics();
const topic = slugToTopic[slug];
if (!topic) {
  Astro.redirect('/404');
}

const posts = await getArticles({topic});

export const getStaticPaths = async () => {
  const {slugToTopic} = await getNoteTopics();
  return Object.keys(slugToTopic).map(slug => ({params: {slug}}));
};
---

<Layout title="Notes">
  <div class="flex flex-col items-center flex-grow mb-10">
    <PageTitle title={`Notes about: ${topic}`} />
    <MainWrapper>
      <Grid>
        {posts.map(post => <ArticleCard post={post} />)}
      </Grid>
    </MainWrapper>
  </div>
</Layout>
