---
import ArticleCard from "@components/ArticleCard.astro";
import RSSLink from "@components/interaction/RSSLink.astro";
import Main from "@components/layout/Main.astro";
import PageWrapper from "@components/layout/PageWrapper.astro";
import Pagination from "@components/layout/Pagination.astro";
import PageTitle from "@components/typography/PageTitle.astro";
import Layout from "@layouts/Layout.astro";
import { getLocale } from "@utils/i18n/main";
import { translations } from "@utils/i18n/translations";
import type { PostListing } from "@utils/md/readAndParse";
import type { Page } from "astro";

const locale = getLocale(Astro.currentLocale);

export interface Props {
	page: Page<PostListing>;
}

const { page } = Astro.props;
---

<Layout title={translations[locale].route['/notes']}>
  <PageWrapper>
    <PageTitle>{translations[locale].route['/notes']}</PageTitle>
    <Main>
      <div class="max-w-4xl w-full">
        <RSSLink>{translations[locale].ui.rss}</RSSLink>
      </div>

      <div class="flex flex-col gap-4 mt-4">
        {page.data.map((post) => <ArticleCard post={post} />)}
        <Pagination
          current={page.currentPage}
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
        />
      </div>
    </Main>
  </PageWrapper>
</Layout>
