---
import ArticleCard from "@components/ArticleCard.astro";
import Main from "@components/layout/Main.astro";
import PageWrapper from "@components/layout/PageWrapper.astro";
import Pagination from "@components/layout/Pagination.astro";
import PageTitle from "@components/typography/PageTitle.astro";
import Layout from "@layouts/Layout.astro";
import { getLocale } from "@utils/i18n/main";
import { translations } from "@utils/i18n/translations";
import { type PostListing, getNoteTopics } from "@utils/md/readAndParse";
import { LOCALES, type Locale } from "@validation/i18n";
import type { Page } from "astro";

const locale = getLocale(Astro.currentLocale);

const { slugToTopic } = await getNoteTopics(locale);

export type Props = {
	page: Page<PostListing>;
	topicSlug: string;
};

const { page, topicSlug } = Astro.props;

const topic = slugToTopic[topicSlug];

const availableTranslations = LOCALES.filter(
	(locale) => locale !== Astro.currentLocale,
).map(
	(locale) => [locale as Locale, `/notes/${topicSlug}`] as [Locale, string],
);
---

<Layout title={`${translations[locale].ui.notes_about}${topic}`} availableTranslations={availableTranslations}>
  <PageWrapper>
    <PageTitle>{translations[locale].ui.notes_about}{topic}</PageTitle>
    <Main>
      <div class="flex flex-col gap-4 mt-4">
        {page.data.map((post) => <ArticleCard post={post} />)}
        <Pagination
          current={page.currentPage}
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
        />
      </div>
    </Main>
  </PageWrapper>
</Layout>
