---
import ArticleCard from '@components/ArticleCard.astro';
import Main from '@components/layout/Main.astro';
import PageTitle from '@components/typography/PageTitle.astro';
import Layout from '@layouts/Layout.astro';
import { getArticles, getNoteTopics } from '@utils/md/readAndParse';
import type { GetStaticPaths } from 'astro';
import slugify from 'slugify';
import Pagination from '@components/layout/Pagination.astro';
import PageWrapper from '@components/layout/PageWrapper.astro';
import { LOCALES } from '@validation/i18n';

const { slugToTopic } = await getNoteTopics("en");

export const getStaticPaths = (async ({ paginate }) => {
  const { articleTopics } = await getNoteTopics("en");
  const results = await Promise.all(
    [...articleTopics].map(async (topic) => {
      const matchingPosts = await getArticles({ topic });
      return paginate(matchingPosts, {
        params: { topic: slugify(topic, { lower: true }) },
        pageSize: 5,
      });
    }),
  );
  return results.flat();
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const params = Astro.params;

const topic = slugToTopic[params.topic];
---

<Layout title="Notes">
  <PageWrapper>
    <PageTitle>Notes about: {topic}</PageTitle>
    <Main>
      <div class="flex flex-col gap-4 mt-4">
        {page.data.map((post) => <ArticleCard post={post} />)}
        <Pagination
          current={page.currentPage}
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
        />
      </div>
    </Main>
  </PageWrapper>
</Layout>
