---
import Layout from '../layouts/Layout.astro';
import {getArticles} from '../utils/mdUtils';

let posts = await getArticles();
posts = posts.slice(0, 3);
---

<Layout title="Labor for Zion">
  <main
    class="container mx-auto flex flex-col items-center p-4 flex-grow gap-12"
  >
    <div>
      <h1
        class="text-5xl md:text-[5rem] leading-normal font-extrabold text-slate-700 text-balance"
      >
        Labor For Zion
      </h1>
      <p>
        A collection of notes, talks, and tools centered around gospel topics.
      </p>
    </div>

    <section class="max-w-2xl">
      <h2 class="text-slate-600 font-bold text-3xl">Recent articles</h2>
      <div class="flex flex-col gap-4 mt-2">
        {
          posts.map(post => (
            <a
              href={`/notes/${post.slug}`}
              class="group"
            >
              <article class="text-balance flex flex-col">
                <div>
                  <h3 class="group-hover:text-emerald-500 font-semibold text-lg decoration-emerald-500 group-hover:underline text-emerald-700">
                    {post.frontmatter.title}
                  </h3>
                  <p class="text-slate-700 text-md group-hover:text-slate-500">
                    {post.frontmatter.description}
                  </p>
                </div>
                <time
                  class="text-slate-600 group-hover:text-slate-500"
                  datetime={post.frontmatter.date.toISOString()}
                >
                  {post.frontmatter.date.toLocaleDateString('en-US', {
                    dateStyle: 'medium',
                  })}
                </time>
              </article>
            </a>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
