---
import type {PostListing} from '../utils/mdUtils';

export interface Props {
  post: PostListing;
}

const {post} = Astro.props;
---

<a
  href={`/notes/${post.slug}`}
  class="group w-full"
>
  <article class="text-balance flex flex-col">
    <div>
      <h3
        class="group-hover:text-emerald-500 font-semibold text-lg decoration-emerald-500 group-hover:underline text-emerald-700"
      >
        {post.frontmatter.title}
      </h3>
      <p class="text-slate-700 text-md group-hover:text-slate-500">
        {post.frontmatter.description}
      </p>
    </div>
    <time
      class="text-slate-600 group-hover:text-slate-500"
      datetime={post.frontmatter.date.toISOString()}
    >
      {
        post.frontmatter.date.toLocaleDateString('en-US', {
          dateStyle: 'medium',
        })
      }
    </time>
  </article>
</a>
