---
import type { Backlink } from '@utils/md/readAndParse';
import Backlinks from '@components/layout/Backlinks.astro';
import Layout from './Layout.astro';
import { getLocale } from '@utils/i18n/main';
import { translations } from '@utils/i18n/translations';
import Prose from '@components/typography/Prose.astro';
import NoteTitle from '@components/typography/NoteTitle.astro';
import NoteHeader from '@components/layout/NoteHeader.astro';

interface Props {
  slug: string;
  title: string;
  backlinks: Backlink[];
  socialImage: string;
}

const { title, backlinks, slug, socialImage } = Astro.props;
const locale = getLocale(Astro.currentLocale);
---

<Layout {title} description={`${translations[locale].ui.note_about} ${title}.`} {socialImage}>
  <main class="flex-grow max-w-3xl">
    <NoteHeader>
      <NoteTitle>{title}</NoteTitle>
    </NoteHeader>
    <Prose>
      <slot />

      <p>{translations[locale].ui.empty}</p>
      {!!backlinks.length && <Backlinks backlinks={backlinks} />}
      <hit-counter
        data-display-text={translations[locale].ui.views}
        data-locale={locale}
        data-slug={slug}></hit-counter>
    </Prose>
  </main>
</Layout>
