---
import type {Backlink} from '../utils/mdUtils';
import Backlinks from '../components/Backlinks.astro';
import Layout from './Layout.astro';

interface Props {
  slug: string;
  title: string;
  backlinks: Backlink[];
}

const {title, backlinks, slug} = Astro.props;
---

<Layout
  title={title}
  description={`A note about ${title}.`}
>
  <main class="flex-grow">
    <article
      class="prose prose-lg prose-slate dark:prose-invert min-w-full prose-h1:text-4xl prose-h1:sm:text-5xl prose-h1:md:text-7xl px-4"
    >
      <div class="border-slate-800 border-solid border-b-2">
        <h1 class="mb-0">{title}</h1>
      </div>

      <slot />
      
      <p>
        This page hasn't been created yet! But if it has been mentioned somewhere
        else, you can see those references below.
      </p>
      {!!backlinks.length && <Backlinks backlinks={backlinks} />}
      <hit-counter data-slug={slug} />
    </article>
  </main>
</Layout>
