---
import { ClientRouter } from "astro:transitions";
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import HitCounterWebComponent from "@components/HitCounter/HitCounterWebComponent.astro";
import { getLocale } from "@utils/i18n/main";
import { translations } from "@utils/i18n/translations";

export interface Props {
  title: string;
  description?: string;
  socialImage?: string;
}

const { title, description, socialImage } = Astro.props;
const locale = getLocale(Astro.currentLocale);

const strings = {
  site: translations[locale].meta.site,
  description: translations[locale].meta.description,
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang={locale} class="h-full dark:bg-slate-900 dark:text-slate-200">
  <head>
    <link rel="canonical" href={canonicalURL} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title === strings.site ? title : `${title} | ${strings.site}`}
    </title>
    <meta
      property="og:title"
      content={title === strings.site ? title : `${title} | ${strings.site}`}
    />
    <meta name="description" content={description ?? strings.description} />
    <meta
      property="og:description"
      content={description ?? strings.description}
    />
    {socialImage ? <meta property="og:image" content={socialImage} /> : ""}
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ClientRouter />
  </head>
  <body
    class:list={[
      "h-full flex flex-col items-center scroll-smooth",
      "selection:bg-emerald-900 selection:text-emerald-50",
      "dark:selection:text-emerald-900 dark:selection:bg-emerald-50",
    ]}
  >
    <Header />
    <slot />
    <Footer />
    <style is:global>
      @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url("https://assets.laborforzion.com/fonts/AtkinsonRegular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url("https://assets.laborforzion.com/fonts/AtkinsonBold.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url("https://assets.laborforzion.com/fonts/AtkinsonItalic.woff2") format("woff2");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Atkinson Hyperlegible";
        src: url("https://assets.laborforzion.com/fonts/AtkinsonBoldItalic.woff2") format("woff2");
        font-weight: bold;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "Munken Sans";
        src: url("https://assets.laborforzion.com/fonts/MunkenSansRegular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Munken Sans";
        src: url("https://assets.laborforzion.com/fonts/MunkenSansBold.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      /* https://developer.mozilla.org/en-US/docs/Web/CSS/::target-text */
      ::target-text {
        @apply bg-emerald-900 text-emerald-50;
        @apply dark:text-emerald-900 dark:bg-emerald-50;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Munken Sans", "Lucida Sans", "Lucida Sans Regular",
          "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }

      p {
        font-family: "Atkinson Hyperlegible", Georgia, "Times New Roman", Times,
          serif;
      }
    </style>
    <HitCounterWebComponent />
  </body>
</html>
