---
import type {Backlink} from '../utils/mdUtils';
import Backlinks from '../components/Backlinks.astro';
import Layout from './Layout.astro';
import type {Frontmatter} from '../validation/md';

interface Props {
  content: string;
  frontmatter: Frontmatter;
  backlinks: Backlink[];
}

const {frontmatter, backlinks, content} = Astro.props;
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
>
  <main class="flex-grow">
    <article
      class="prose prose-lg prose-slate dark:prose-invert min-w-full prose-h1:text-4xl prose-h1:sm:text-5xl prose-h1:md:text-7xl px-4"
    >
      <div class="border-slate-800 border-solid border-b-2">
        <h1 class="mb-0">{frontmatter.title}</h1>
        {
          frontmatter.description && (
            <p class="text-2xl">{frontmatter.description}</p>
          )
        }
      </div>
      <div class="flex justify-end p-4">
        <div>
          {frontmatter.date.toLocaleDateString('en-US', {dateStyle: 'medium'})}
        </div>
      </div>
      <div set:html={content} />
      {!!backlinks.length && <Backlinks backlinks={backlinks} />}
    </article>
  </main>
</Layout>
