---
import type {Backlink} from '../utils/mdUtils';
import Backlinks from '../components/Backlinks.astro';
import Layout from './Layout.astro';
import type {Frontmatter, Heading} from '../validation/md';
import TableOfContents from '../components/TableOfContents.astro';
import HeadingObserver from '../components/HeadingObserver.astro';

interface Props {
  slug: string;
  content: string;
  frontmatter: Frontmatter;
  backlinks: Backlink[];
  headings: Heading[];
}

const {slug, frontmatter, backlinks, content, headings} = Astro.props;
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
>
  <main class="grid grid-cols-1 md:grid-cols-[1fr,_300px] gap-14 mb-10">
    <article class="max-w-3xl">
      <div class="border-slate-800 border-solid border-b-2 text-slate-800 p-4">
        <h1 id="article-title" class="text-[clamp(2rem,_10vw,_3rem)] font-bold">
          {frontmatter.title}
        </h1>
        {
          frontmatter.description && (
            <p class="text-[clamp(1rem,_5vw,_1.5rem)] font-body">
              {frontmatter.description}
            </p>
          )
        }
      </div>
      <div class="flex justify-between gap-4 p-4 flex-wrap">
        <time datetime={frontmatter.date.toISOString()}>
          {frontmatter.date.toLocaleDateString('en-US', {dateStyle: 'medium'})}
        </time>
        {
          !!frontmatter.tags?.length && (
            <div class="flex gap-2">
              Tags:
              <ul>
                {frontmatter.tags.map(tag => (
                  <li class="inline-block bg-slate-300 dark:bg-slate-800 text-slate-900 dark:text-slate-100 rounded-md px-2 py-1 text-xs font-bold mr-2">
                    {tag}
                  </li>
                ))}
              </ul>
            </div>
          )
        }
      </div>

      <div
        id="article-body"
        class="prose prose-lg prose-slate dark:prose-invert min-w-full px-4 prose-hr:border-emerald-800 mt-8"
        set:html={content}
      />
      <div class="p-4">
        <hit-counter data-slug={slug} />
      </div>
    </article>
    <div class="pr-4">
      <div class="sticky top-4 flex flex-col gap-5">
        <aside>
          <TableOfContents headings={headings} />
        </aside>
        {
          !!backlinks.length && (
            <aside>
              <Backlinks backlinks={backlinks} />
            </aside>
          )
        }
      </div>
    </div>
  </main>
  <HeadingObserver />
</Layout>
